<h1 class="text-center titre">Nos Cocktails</h1>

<div class="container coktails_presentation text-center">
  <div class="row">

        <% @coktails.each do |coktail| %>

              <div class="col-xs-12 col-sm-6 col-md-3">
                  <h3><%= link_to coktail.name, coktail %></h3>
                  <p><%= coktail.description %></p>
                  <div >
                    <%= link_to '<i class="fa fa-pencil"></i>'.html_safe, edit_coktail_path(coktail),class: "coktail_options" %> -
                    <%= link_to '<i class="fa fa-trash"></i>'.html_safe, coktail, method: :delete, data: { confirm: 'Are you sure?' },class: "coktail_options" %>
                  </div>
                  <div class="photo_coktail">
                    <%= link_to image_tag(coktail.image_url), coktail %> -
                  </div>
              </div>

          <% end %>

  </div>
</div>
<br>
<div class="text-center">
  <%= link_to 'New Coktail', new_coktail_path, class: "btn btn-success" %>
</div>
