<h1>Listing coktails</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @coktails.each do |coktail| %>
      <tr>
        <td><%= coktail.name %></td>
        <td><%= coktail.description %></td>
        <td><%= link_to 'Show', coktail %></td>
        <td><%= link_to 'Edit', edit_coktail_path(coktail) %></td>
        <td><%= link_to 'Destroy', coktail, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Coktail', new_coktail_path %>
